* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-zero: rgb(255, 255, 255);
  --color: rgb(51, 51, 51);
  --color-two: rgb(102, 102, 102);
  --color-three: rgb(204, 143, 21);
  --color-four: rgb(193, 193, 193);
  --color-five: rgb(241, 241, 241)
}

::after,
::before {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Muller';
  src: url(../fonts/MullerRegular.woff) format('woff');
  src: url(../fonts/MullerRegular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Muller";
  font-size: 16px;
  background: var(--color-five);
}

h2 {
  font-size: 40px;
  line-height: 0.8;
  font-weight: normal;
  color: var(--color);
  margin-bottom: 25px;
}

h4 {
  font-size: 22px;
  font-weight: 600;
  color: var(--color-two);
  line-height: 1.455;
  white-space: pre;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}

img {
  max-width: 100%;
}

ul,
li {
  list-style: none;
  padding: 0;
}

:focus {
  outline: none;
}

.container {
  max-width: 1190px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.btn {
  border: 1px solid var(--color-three);
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  font-weight: 600;
  color: var(--color-two);
}

.header {
  margin-bottom: 15px;
}

.header__container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
  margin-bottom: 30px;
}

.header__logo {
  margin-right: 25px;
}

.header__telephone {
  font-size: 22px;
  font-weight: 600;
  color: var(--color-two);
  line-height: 1.455;
  white-space: nowrap;
  transition: all 0.5s ease;
}

.header__cabinet {
  display: flex;
  align-items: center;
  color: var(--color-three);
  white-space: nowrap;
  transition: all 0.5s ease;
}

.header__cabinet-arrow {
  margin: 0px 5px 5px 0;
  height: auto;
}

.header-nav__container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background-color: var(--color-zero);
  border-radius: 10px;
  padding: 10px 20px;
}

.header-nav__list {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.header-nav__item {
  padding-right: 30px;
}

.header-nav__link {
  color: var(--color);
  text-decoration: none;
  white-space: nowrap;
    transition: all 0.5s ease;
}

.input_1 {
  display: flex;
  align-items: center;
  position: relative;
}

.search-form {
  position: relative;
}

.search-form__input {
  display: block;
  height: 45px;
  width: 250px;
  background-color: var(--color-five);
  border: 1px solid var(--color-zero);
  border-radius: 10px;
  padding-left: 20px;
  font-size: 14px;
  color: var(--color-four);
  text-align: left;
  margin: 0;
  align-items: center;
  transition: all 0.5s ease;
}

.search-form__icon {
  width: 20px;
  /* Adjust size */
  height: auto;
}

.search-form__button {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  /* Correct vertical centering */
  z-index: 9;
  outline: none;
  border: none;
  display: flex;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

/*SECTION-1-BOOKING*/

.booking__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 20px;
  margin-bottom: 70px;
}

.booking-form__input {
  display: block;
  background-color: var(--color-zero);
  border: 1px solid var(--color-zero);
  border-radius: 10px;
  height: 70px;
  width: 100%;
  margin-bottom: 25px;
  box-sizing: border-box;
  color: var(--color-two);
  padding: 10px;
  transition: all 0.5s ease;
}

.booking-form__button-block {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.booking-form__button {
  background-color: var(--color-three);
  color: var(--color-zero);
  padding: 15px 20px;
  margin-right: 30px;
  transition: background-color 0.3s ease;
}

.booking-form__offers-count {
  color: var(--color-four);
  font-size: 14px;
}

.booking-form__offers-count span {
  color: var(--color-three);
  padding-right: 5px;
}

.booking-sale {
  max-height: 525px;
  height: 100%;
  background-image: url(../img/22.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
}

.booking-sale__title {
  font-size: 34px;
  font-weight: 600;
  color: var(--color-zero);
  margin: 0 0 10px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.booking-sale__price-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-four);
  font-size: 24px;
}

.booking-sale__link {
  display: flex;
  align-items: center;
  color: var(--color-three);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

/* ABOUT */

.about__content {
  color: var(--color-two);
  line-height: 2;
  max-width: 950px;
  margin-bottom: 70px;
}

.about__title {
  margin-left: 0;
  margin-bottom: 15px;
}


/* SERVICE */

.service__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.service__item {
  background: var(--color-zero);
  border-radius: 10px;
  overflow: hidden;
}

.service__image {
  width: 100%;
  height: auto;
  display: block;
}

.service__header {
  display: flex;
  align-items: center;
  font-size: 22px;
}

.service__content {
  padding: 35px;
}

.service__subtitle {
  color: var(--color-three);
  margin-right: 10px;
  line-height: 2;
}

.service__description {
  line-height: 2;
  max-width: 455px;
}

/*SECTION-4-PRIVELEGE*/

.privilege {
  margin-bottom: 70px;
}


.privilege__title {
  margin-bottom: 25px;
}

.privilege__container {
  margin-top: 55px;
}

.privilege__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* Responsive grid */
  gap: 20px;
  /* Space between items */
  list-style: none;
  padding: 0;
  margin: 0 auto;
  /* Center the grid */
  max-width: 1200px;
  /* Limit the width of the list */
}

.privilege__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 40px;
  background: white;
  border-radius: 10px;
  line-height: 1.5;
}

.privilege__icon {
  width: 50px;
  /* Adjust size as needed */
  height: 50px;
  /* Adjust size as needed */
  margin-bottom: 15px;
}

/*SECTION-4-location*/

.location {
  margin-bottom: 70px;
}

.location__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /*Responsive Grid*/
  gap: 25px;
  /*Gutter*/
  list-style: none;
  padding: 0;
  margin: 0;
}

.location__item {
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.location__item--all {
  background-image: url(../img/41.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 200px;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  justify-content: flex-start;
}

.location__all-text {
  margin: 0;
  display: flex;
  align-items: center;
}

.location__all-link {
  color: var(--color-zero);
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 22px;
  font-weight: 400;
}

.location__all-text img {
  margin-left: 12px;
  width: 20px;
  /* Adjust as needed */
  height: auto;
}

.location__image {
  width: 100%;
  height: auto;
  display: block;
}

.location__content {
  padding: 20px;
}

.location__price-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.location__price-prefix {
  color: var(--color-four);
}

.location__price {
  font-size: 22px;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 5px;
}

.location__stars {
  margin-left: auto;
}

.location__hotel-name {
  margin-bottom: 5px;
}

.location__location-text {
  color: var(--color-four);
  display: block;
  /*Make it a block so it takes the full width*/
  margin-bottom: 10px;
  /*Add some space*/
}

.location__button {
  border: 1px solid #cc9933;
  border-radius: 10px;
  padding: 10px 20px;
  color: var(--color-three);
  font-weight: 600;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  /*Remove the margins and set the alginment*/
  display: block;
  width: fit-content;
}

/* SECTION COMMUNICATION AND CONTACTS */

.contacts__container {
  display: flex;
}

.contacts__details {
  font-style: normal;
  max-width: 78%;
  background-color: white;
  border-radius: 10px;
  padding: 10px 45px 0 45px;
}

.contacts__item {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #a5a5a5;
}

.contacts__text {
  line-height: 1.5;
}

.contacts__text--address {
  margin-left: 80px;
}

.contacts__text--phone {
  margin: 0 0 30px 40px;
}

.contacts__text--email {
  margin-left: 80px;
}

.contacts__text--email span {
  color: var(--color-four);
}

.contacts__button {
  border: 1px solid var(--color-three);
  border-radius: 10px;
  padding: 25px 25px 25px 25px;
  color: var(--color-three);
  font-weight: 600;
  max-width: 215px;
  margin-top: 25px;
  margin-bottom: 45px;
  background-color: var(--color-zero);
  transition: all 0.5s cubic-bezier(.38, .46, .87, .53);
}

.orange__info {
  font-size: 16px;
  color: var(--color-three);
  line-height: 1.5;
}

/* TAPE US */

.contacts {
  margin-bottom: 50px;
}

.contacts__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -50px;
}

.contacts__form-title {
  display: inline-block;
}

.contacts__form-form {
  display: flex;
  flex-direction: column;
}

.contacts__form-input {
  background-color: var(--color-zero);
  border: var(--color-zero);
  border-radius: 10px;
  margin-bottom: 25px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  min-width: 342px;
  color: var(--color-four);
  transition: all 0.5 ease;
}

.contacts__form-textarea {
  min-height: 110px;
  padding-top: 10px;
}

.contacts__form-button {
  background-color: var(--color-three);
  color: var(--color-zero);
  font-weight: 600;
  transition: all 0.5s cubic-bezier(.38, .46, .87, .53);
  border-radius: 10px;
  border: 1px solid var(--color-three);
  padding: 25px 25px 25px 25px;
  max-width: 215px;
   transition: all 0.5 ease;
}

.contacts__link {
    transition: all 0.5s ease;
}
/* SECTION FOOTER */

.footer {
  display: flex;
  border-radius: 12px;
  background-color: var(--color);
  color: var(--color-zero);
  margin-bottom: 52px;
  position: relative;
}

.footer__container {
  padding: 40px 20px;
}

.footer__columns {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  /* Adjust ratios as needed */
  gap: 20px;
  /* Space between columns */
  align-items: start;
  /* Align items to the top */
}

.footer__column--first {
  line-height: 1.5;
  margin: 0;
  /* Remove the margins, grid controls spacing */
}

.footer__column--first p {
  margin-bottom: 15px;
}

.footer__column--second {
  line-height: 1.3;
  margin: 0;
  /* Remove the margins, grid controls spacing */
}

.footer__column--second p {
  margin-bottom: 15px;
}

.footer__social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* Stack vertically */
  align-items: flex-end;
  /* Align to the right */
}

.footer__social-item {
  width: 30px;
  opacity: 0.5;
  margin-bottom: 10px;
  /* Reduced spacing */
  transition: all 0.5s cubic-bezier(0.38, 0.46, 0.87, 0.53);
}

.footer__sun-image {
  position: absolute;
  right: 20px;
  /* Adjust as needed */
  bottom: 0;
  z-index: 4;
  width: 150px;
  /* Adjust as needed */
}

.footer__link {
    transition: all 0.5s ease;
}